<button (click)="toggle()"
        class="btn btn-default btn-sm"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Draw Line on Map">
    <!--<i class="glyphicon glyphicon-minus"></i>-->
<svg class="draw"
   viewbox="0 0 50.002519 50.125423"
   height="14.146508mm"
   width="14.111822mm">
  <g
     transform="translate(-2.4184527e-4,-1002.237)"
     class="draw-line">
    <path
       class="line"
       d="M 0.24230781,1052.121 49.760694,1002.4785"
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.68381059px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
  </g>
</svg>

  </button>
