<div class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
  <ul class="nav" id="menu" [dragula]="'menu'">
    <li>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel {{collection}}-panel">
            <div (click)="toggle($event)" class="panel-heading clickable">
              <h3 class="panel-title">File Upload</h3>
            </div>
            <div class="panel-body collapse">
              <app-file-upload></app-file-upload>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel {{collection}}-panel">
            <div (click)="toggle($event)" class="panel-heading clickable">
              <h3 class="panel-title">Map Information</h3>
            </div>
            <div class="panel-body collapse">
              <dl class="dl-horizontal">
                <dt>User Agent</dt>
                <dd>An HTML user agent is any device that interprets HTML documents.</dd>
                <dt>Client-side Scripting</dt>
                <dd>Client-side scripting generally refers to the category of computer programs on the web that are executed client-side i.e. by the user's web browser.</dd>
                <dt>Document Tree</dt>
                <dd>The tree of elements encoded in the source document.</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel {{collection}}-panel">
            <div (click)="toggle($event)" class="panel-heading clickable">
              <h3 class="panel-title">Overview Map</h3>
              <span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body"><!-- NOTE: This is not set to collapse as it is necessary to do it later or the map isn't visible' -->
              <app-overview-map></app-overview-map>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li *ngIf="collection === 'geology'">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel {{collection}}-panel">
            <div (click)="toggle($event)" class="panel-heading clickable">
              <h3 class="panel-title">Geology Overview Map</h3>
              <span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body collapse">
              Panel content <a href="http://www.jquery2dotnet.com/2013/11/image-preview-on-hover-bootstrap.html">Image Preview On Hover Bootstrap</a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
       <div class="row">
        <div class="col-xs-12">
          <div class="panel {{collection}}-panel">
            <div (click)="toggle($event)" class="panel-heading clickable">
              <h3 class="panel-title">Annotations</h3>
              <span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body collapse">
              <app-draw-line></app-draw-line>
              <app-polygon></app-polygon>
              <label class="btn btn-default btn-sm active">
                <input type="checkbox" checked>anno
              </label>
              <button class="btn btn-default btn-sm">anno1</button>
              <button class="btn btn-default btn-sm">anno2</button>
              <button class="btn btn-default btn-sm">anno1</button>
              <button class="btn btn-default btn-sm">anno2</button>
              <button class="btn btn-default btn-sm">anno1</button>
              <button class="btn btn-default btn-sm">anno2</button>
              <button class="btn btn-default btn-sm">anno1</button>
              <button class="btn btn-default btn-sm">anno2</button>
              <button class="btn btn-default btn-sm">anno1</button>
              <button class="btn btn-default btn-sm">anno2</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
