<button (click)="toggle()"
        class="btn btn-default btn-sm"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Draw Line on Map">
    <!--<i class="glyphicon glyphicon-minus"></i>-->
    <svg class="square"
      viewbox="0 0 50.002519 50.125423"
      height="14.146508mm"
      width="14.111822mm">
      <g
        transform="translate(0.49975815,-1006.3678)"
        class="square-g">
        <rect
          y="1006.8678"
          x="0.00024184526"
          height="50"
          width="50"
          class="rect"
          style="opacity:0.81300001;fill:none;fill-opacity:1;stroke:#000000;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      </g>
    </svg>
  </button>
