.search {
  position: absolute;
  left: 10em;
  top: 5em;
  z-index: 1000;

  input {
    background-color: transparent;
    /*color: #000;*/
    font-weight: bold;
  }

  ul {
    list-style: none;

    li {
      padding: .5em 0 0 1em;
      border: 1px solid #ccc;// FIXME: Should get this from bootstrap input-group property.

      &:hover {
        background-color: #228b22; // FIXME: Should get the colour from bootstrap success property.
      }
    }
  }
}
