<simple-notifications></simple-notifications>

<form class="form-horizontal search" [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="row">
    <div class="col-lg-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." formControlName="searchTerm" [(ngModel)]="term" tabindex="0">
      <!--<dm-control-messages [control]="notUserForm.controls.name"></dm-control-messages>-->
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" [disabled]="!canSubmit()">Go!</button>
        </span>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="searchResults !== undefined && searchResults.length > 0">
    <div class="col-lg-2">
      <ul class="list-group">
        <li *ngFor="let result of searchResults; let i = index"
            (click)="selectResult(result)"
            class="list-group-item"
            [attr.accesskey]="i===0? 1: null">
          {{result.name}}
        </li>
      </ul>
    </div>
  </div>
</form>
